[Unit]
Description=generic unit file for verification
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/bash echo "it werks!"

TimeoutSec=300

[Install]
WantedBy=multi-user.target