[Unit]
Description=BASH Profile Generation and Update
Requires=network-online.target

[Service]
Type=one-shot
User=${user}
Group=${group}
ExecStartPre=
ExecStart=/usr/bin/bash ~/.dotfiles/profile-generator.sh

[Install]
WantedBy=multi-user.target