[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=regexp
Comment=s# open regex book on startup
Exec=evince /home/admin/Dokumente/Bücher/mastering-regular-expressions
Icon=/home/admin/Bilder/regexp.png
Terminal=false