[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=sysadmin
Comment=open Sysadmin book
Exec=/usr/bin/ebook-viewer '/home/admin/Calibre Library/Thomas A. Limoncelli/The Practice of System and Network Administration (7)/The Practice of System and Network Adminis - Thomas A. Limoncelli.epub'
# downloaded icon, put to /usr/share/icons
# maybe somewhat of a default dir?
Icon=/usr/share/icons/open-book-icon.png
Terminal=false