# localhost
::1         serenity serenity.northern-lights.one
127.0.0.1   serenity serenity.northern-lights.one

# northern-lights.one @ serenity

192.168.150.254 dortmunder IAVDortmunder.northern-lights.one
192.168.150.220 magellan IAVMagellan.northern-lights.one
192.168.150.220 cortez IAVCortez.northern-lights.one