# default ssh config file
# hosts all needs to be at the bottom
# populate as needed
# ensure: chmod 600 ~/.ssh/config !!! 

##################### hosts ######################


# northern-lights.one @ Finch
# servers

Host samba samba.northern-lights.one
    HostName 192.168.0.129
    IdentityFile ~/.ssh/HaroldFinch

Host sql psql postgres postgresql sql.northern-lights.one
    HostName 192.168.0.120
    IdentityFile ~/.ssh/HaroldFinch

Host redmine redmine.northern-lights.one
    Hostname 192.168.0.130
    User redmine

Host ubuntu posix ubuntu.northern-lights.one
    Hostname 192.168.2.113
    User posix
	
# workstation(s)

Host Admin console admin.northern-lights.one
    HostName 192.168.0.122

Host silverblue silverblue.northern-lights.one
    # this ip is not correct! look up
    HostName 192.168.0.6

# northern-lights.one @ serenity
# servers

Host dortmunder IAVDortmunder.northern-lights.one
    HostName 192.168.150.254
    IdentityFile ~/.ssh/admin

Host magellan IAVMagellan.northern-lights.one
    HostName 192.168.150.220
    IdentityFile ~/.ssh/admin

Host cortez IAVCortez.northern-lights.one
    HostName 192.168.150.220
    IdentityFile ~/.ssh/admin

# GITHUB
Host github.com
    HostName github.com
    User git
    PreferredAuthentications publickey
    IdentityFile ~/.ssh/github

################ defaults for all ################

Host *
     ForwardAgent no
     ForwardX11 no
     ForwardX11Trusted yes
     User admin
     Port 22
     Protocol 2
     ServerAliveInterval 60
     ServerAliveCountMax 30 