[Unit]
Description=execute the backup for database %i using pg_dump
AssertPathExists=/home/reese/Dokumente/Backup
After=syslog.target timers.target
Requires=psql-backup@%i.timer
# OnFailure=on-failure-mail@%i.service
# Requires= one *could* do a unit for the filesystem mount, that would be the proper way to do it

[Service]
Type=oneshot
WorkingDirectory=/home/reese/Dokumente/Backup
EnvironmentFile=/home/reese/Dokumente/Backup/firefly.conf

ExecStart=/usr/bin/pg_dump --format=plain --dbname=%i --file=%i.sql --no-password
ExecStart=/usr/bin/zstd %i.sql --rm --compress -o %i.zsd --force

#ExecStartPost=/bin/bash -c 'mv %i.zsd %%i_$(date +%%u).zsd'
ExecStartPost=/usr/bin/chown reese:reese /home/reese/Dokumente/Backup -R

KillSignal=SIGQUIT
KillMode=mixed