[Unit]
Description=execute the backup for database %i using pg_dump
AssertPathExists=/home/finch/backups
After=syslog.target timers.target
Requires=psql-backup@%i.timer
# OnFailure=on-failure-mail@%i.service
# Requires= one *could* do a unit for the filesystem mount, that would be the proper way to do it

[Service]
Type=oneshot
WorkingDirectory=/home/finch/backups
EnvironmentFile=/home/finch/backups/%i.pgsql.conf

#ExecStartPre=
ExecStart=/usr/bin/pg_dump --format=plain --dbname=%i --file=%i.sql --no-password
ExecStartPost=/usr/bin/zstd %i.sql --rm --compress -o %i.zst --verbose --force

KillSignal=SIGQUIT
KillMode=mixed