################### curl me ! ####################
##################### hosts ######################

Host dns.northernlights dns
    HostName 192.168.150.254
    User administrator
    IdentityFile ~/.ssh/admin

Host dnsmasq dnsmasq.northernlights
    HostName 192.168.150.253
    IdentityFile ~/.ssh/HaroldFinch

Host server.northernlights server
    HostName 192.168.150.220
    User alonsoquinn
    IdentityFile ~/.ssh/admin

Host ubuntu.northernlights ubuntu posix
    HostName 192.168.150.230
    User posix
    IdentityFile ~/.ssh/admin

Host sql sqlserver sql-server mysql psql postgres postgresql 
    HostName 192.168.150.250
    IdentityFile ~/.ssh/HaroldFinch

Host powershell core ps
    HostName 192.168.150.108
    IdentityFile ~/.ssh/HaroldFinch

Host smb smb.northernlights
    HostName 192.168.150.245
    IdentityFile ~/.ssh/HaroldFinch

Host mail mail.northernlights
    Hostname 192.168.150.240
    IdentityFile ~/.ssh/HaroldFinch

Host ubuntu posix ubuntu.northernlights
    Hostname 192.168.150.230
    Port 22
    User posix
    IdentityFile ~/.ssh/HaroldFinch	
	
################ defaults for all ################

Host *
     ForwardAgent no
     ForwardX11 no
     ForwardX11Trusted yes
     User admin
     Port 22
     Protocol 2
     ServerAliveInterval 60
     ServerAliveCountMax 30