##################### hosts ######################

Host admin Admin console
    HostName 192.168.2.122

Host dns.northernlights dns
    HostName 192.168.2.115
    User administrator
    IdentityFile ~/.ssh/admin

Host dnsmasq dnsmasq.northernlights
    HostName 192.168.2.114
    IdentityFile ~/.ssh/HaroldFinch

Host server.northernlights server
    HostName 192.168.2.112
    HostName 192.168.2.215
    User alonsoquinn
    IdentityFile ~/.ssh/admin

Host sql sqlserver sql-server mysql psql postgres postgresql 
    HostName 192.168.2.120
    IdentityFile ~/.ssh/HaroldFinch

Host powershell core ps
    HostName 192.168.2.121
    IdentityFile ~/.ssh/HaroldFinch

Host smb smb.northernlights
    HostName 192.168.2.123
    IdentityFile ~/.ssh/HaroldFinch

Host mail mail.northernlights
    Hostname 192.168.2.124
    IdentityFile ~/.ssh/HaroldFinch

Host ubuntu posix ubuntu.northernlights
    Hostname 192.168.2.113
    Port 22
    User posix
	
################ defaults for all ################

Host *
     ForwardAgent no
     ForwardX11 no
     ForwardX11Trusted yes
     User admin
     Port 22
     Protocol 2
     ServerAliveInterval 60
     ServerAliveCountMax 30