[Unit]
Description=borg-backup

After=syslog.target
After=network.target
After=timers.target

[Service]
Type=simple
CPUWeight=20
CPUQuota=85%
IOWeight=20
MemorySwapMax=0

Environment=BORG_UNKNOWN_UNENCRYPTED_REPO_ACCESS_IS_OK=yes


ExecStartPre=/usr/bin/borg break-lock /mnt/borg
ExecStart=/usr/bin/bash /home/benno/northern-lights/apps/backup/borg/exec-borg-backup.bash --timer
