[Unit]
Description=Runs backup script script every 5 minutes

[Timer]
OnBootSec=5min
OnUnitActiveSec=5min
WakeSystem=false

[Install]
WantedBy=timers.target
