[Unit]
Description=Runs backup script script every 15 minutes

[Timer]
OnBootSec=5min
OnUnitActiveSec=15min
WakeSystem=false

[Install]
WantedBy=timers.target
