[Unit]
Description=IAV.Magellan

Requires=libvirtd.service
After=libvirtd.service

Before=shutdown.target
Before=reboot.target
Before=halt.target

[Service]
Type=forking
RemainAfterExit=yes  
ExecStart=/usr/bin/virsh start IAV.Magellan
ExecStop=/usr/bin/virsh shutdown IAV.Magellan
MemoryLimit=1G

[Install]
WantedBy=graphical.target