[Unit]
Description=Runs /home/admin/MyScripts/apps/borg/backup.sh script every 5 minutes

[Timer]
OnBootSec=1min
OnUnitActiveSec=5min

[Install]
WantedBy=multi-user.target
