[Unit]
Description=generic unit file for verification
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/bash echo "it werks!" | /usr/bin/systemd-cat -p 2

TimeoutSec=300

[Install]
WantedBy=multi-user.target