[Unit]
Description=start and stop virtual machines using libvirt
Type=simple

Requires=libvirtd.service
Requires=libvirt-guests.service

After=libvirtd.service
After=libvirt-guests.service

[Service]
Restart=always
ExecStart=/usr/bin/virsh start IAV.Cortez
ExecStop=/usr/bin/virsh shutdown IAV.Cortez

MemoryLimit=3G

[Install]
WantedBy=graphical.target