[Unit]
Description=IAV.Cortez

Requires=libvirtd.service
After=libvirtd.service

Before=shutdown.target
Before=reboot.target
Before=halt.target

[Service]
Type=forking  
ExecStart=/usr/bin/virsh start IAV.Cortez
ExecStop=/usr/bin/virsh shutdown IAV.Cortez
MemoryLimit=3G

[Install]
WantedBy=graphical.target