[Unit]
Description=execute the backup for database %i using pg_dump
AssertPathExists=/mnt/database/benno
After=syslog.target timers.target
Requires=psql-backup@%i.timer
OnFailure=on-failure-mail@%i.service
# Requires= one *could* do a unit for the filesystem mount, that would be the proper way to do it

[Service]
Type=oneshot
WorkingDirectory=/home/admin/.config/systemd/user/
# using the "old" way, as creating a override file might not work for a template unit file?
# EnvironmentFile=/home/admin/.config/systemd/user/psql-server
#Environment="PGUSER=postgres"
#Environment="PGPASSWORD=postgres"
#Environment="PGHOST=sql"

# do i need something here?
ExecStart=/usr/bin/bash /home/admin/.config/systemd/user/psql-server %i
#ExecStartPost=/usr/bin/tar cvf /var/mnt/database/benno/%i.backup.tar /var/mnt/database/benno/%i.backup