[Unit]
Description=execute the backup for database %i using pg_dump
AssertPathExists=/mnt/database/benno
After=syslog.target
After=timers.target
# After= one *could* do a unit for the filesystem mount, that would be the proper way to do it

[Service]
Type=forking
PIDFile=~/backups/

# do i need something here?
# ExecStartPre=/usr/bin/borg break-lock ~/backup/<hostname>

ExecStart=/usr/bin/pg_dump %i > /var/mnt/database/benno/%i.backup
